/* Mobile (Max-width 767px) */
@media only screen and (max-width: 767px) {
  /* ===============================
            Utility Classes
    ================================== */
  .container {
    max-width: 100%;
    padding: 0 20px;
  }

  /* header section */
  .rise-main-header-section .rise-main-header-menu-items,
  .rise-top-header-section,
  .rise-main-header-section .rise-main-header-user,
  .rise-main-header-section .rise-main-header-search{
    display: none;
  }

  .rise-main-header-section .rise-main-header-logo{
    width: 130px;
  }

  /* Footer Section */
  .rise-footer-section {
    padding: 60px 0 60px;
    background: url("../images/rise-footer-left-image.png") top center no-repeat,
      url("../images/footer-right-half.png") bottom center no-repeat;
  }
  .rise-footer-section .rise-footer-main-area {
    grid-template-columns: 1fr;
  }
  .rise-footer-section .rise-footer-content.flex {
    gap: 40px;
    flex-wrap: wrap;
  }
  .rise-footer-section .rise-footer-content .rise-footer-quick-links {
    width: 50%;
  }
  .rise-footer-section .rise-footer-content .rise-footer-newsletter {
    padding: 40px 20px;
    width: 100%;
  }
  .rise-footer-section .rise-footer-content .rise-footer-newsletter h4 {
    font-size: 15px;
  }
  .rise-footer-section .rise-footer-newsletter #newsletter-email {
    width: 160px;
  }
  .rise-footer-section .rise-footer-newsletter .rise-footer-submit-btn {
    padding: 13px 15px;
  }
  .rise-footer-bottom-section .rise-bottom-footer-content.flex {
    flex-direction: column;
    gap: 40px;
  }

  .rise-footer-bottom-section .rise-footer-bottom-left ul {
    flex-direction: column;
    text-align: center;
  }

  .rise-footer-bottom-section
    .rise-footer-bottom-left
    .rise-footer-bottom-right-border {
    border: none;
  }

  .rise-footer-bottom-section .rise-footer-bottom-right ul {
    gap: 20px;
  }

  /* Home Page */
  /* Hero Section */
  .rise-hero-section {
    background-image: url("../images/hero-section-bg.png");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: top center;
    height: 600px;
    display: flex;
    justify-content: center;
    align-items: flex-end;
    padding-bottom: 30px;
  }
  .rise-hero-section .container {
    padding: 0;
  }
  .rise-hero-section .hero-section-area {
    margin-left: 0;
  }
  .rise-hero-section .hero-section-area .rise-hero-content {
    width: 100%;
    height: 100%;
    padding: 50px 30px 60px;
  }
  .rise-hero-section .hero-section-area .rise-hero-content h1.heading-one {
    font-size: 46px;
    line-height: 56px;
  }
  .rise-hero-section .hero-section-area .rise-hero-content p {
    margin: 15px 0 26px;
  }

  /* Get Inspired Section start */
  .rise-get-inspired-section {
    padding: 60px 0;
  }
  .rise-get-inspired-section .rise-get-inspired-columns {
    padding-top: 40px;
    grid-template-columns: repeat(1, 1fr);
    row-gap: 30px;
  }
  .rise-get-inspired-section
    .rise-get-inspired-column
    .rise-get-inspired-content {
    padding: 24px 20px 0;
  }

  /* Shop Page */
  .rise-shop-hero-section {
    padding: 60px;
  }

  .rise-shop-hero-section h1.heading-two {
    font-size: 40px;
  }
}

/* Tablets (Min-width 768px and Max-width 1023px) */
@media only screen and (min-width: 768px) and (max-width: 1023px) {
  /* ===============================
            Utility Classes
    ================================== */
  .container {
    max-width: 100%;
    padding: 0 20px;
  }

  /* header section */
  .rise-main-header-section .rise-main-header-menu-items,
  .rise-top-header-section .rise-top-header-announcement{
    display: none;
  }

  /* ===============================
          Footer Section
    ================================== */
  .rise-footer-section .rise-footer-main-area {
    grid-template-columns: 1fr;
  }
  .rise-footer-section .rise-footer-content {
    gap: 50px;
    justify-content: space-between;
  }

  .rise-footer-bottom-section .rise-bottom-footer-content.flex {
    flex-direction: column;
    gap: 20px;
  }

  /* Home Page */
  /* Hero Section */
  .rise-hero-section .hero-section-area {
    margin-left: 0;
  }
  .rise-hero-section .hero-section-area .rise-hero-content h1.heading-one {
    font-size: 74px;
    line-height: 70px;
  }

  /* Get Inspired Section start */
  .rise-get-inspired-section {
    padding: 80px 0;
  }
  .rise-get-inspired-section .rise-get-inspired-columns {
    padding-top: 50px;
    grid-template-columns: repeat(2, 1fr);
    row-gap: 30px;
  }
  .rise-get-inspired-section
    .rise-get-inspired-column
    .rise-get-inspired-content {
    padding: 24px 20px 0;
  }

  /* Clear Path Legacy Section */
  .rise-clear-path-legacy-section {
    padding: 10px 0 80px;
  }
  .rise-clear-path-legacy-section .rise-clear-path-legacy-main-area {
    grid-template-columns: 1fr;
  }
  .rise-clear-path-legacy-section .rise-clear-path-legacy-content {
    padding: 60px 40px;
  }
  .rise-clear-path-legacy-section .rise-clear-path-legacy-content p {
    padding: 24px 0;
  }

  /* Shop Page */
  .rise-shop-hero-section {
    padding: 60px;
  }
}

/* Laptops (Min-width 1024px and Max-width 1366px) */
@media only screen and (min-width: 1024px) and (max-width: 1366px) {
  /* ===============================
            Utility Classes
    ================================== */
  .container {
    max-width: 100%;
    padding: 0 20px;
  }

  /* header section */
  .rise-main-header-section .rise-main-header-menu-items,
  .rise-top-header-section .rise-top-header-announcement{
    display: none;
  }

  /* Footer Section */
  .rise-footer-section {
    padding: 60px 0 80px;
  }

  .rise-footer-section .rise-footer-main-area {
    grid-template-columns: 1fr 100px;
  }
  .rise-footer-section .rise-footer-content {
    gap: 70px;
  }
  .rise-footer-section .rise-footer-content .rise-footer-quick-links ul li a {
    font-size: 16px;
  }
  .rise-footer-section
    .rise-footer-content
    .rise-footer-quick-links
    ul
    li:not(:first-child) {
    margin: 20px 0;
  }

  .rise-footer-section
    .rise-footer-content
    .rise-footer-social-icons
    ul
    li:not(:first-child) {
    margin: 30px 0;
  }
  .rise-footer-bottom-section .rise-bottom-footer-content.flex {
    flex-direction: column;
    gap: 30px;
  }

  /* Home Page */
  /* Hero Section */
  .rise-hero-section .hero-section-area {
    margin-left: 200px;
  }

  /* Shop Page */
  .rise-shop-hero-section {
    padding: 80px;
  }
}
