/* Mobile (Max-width 767px) */
@media only screen and (max-width: 767px) {
  /* ===============================
            Utility Classes
    ================================== */
  .container {
    max-width: 100%;
    padding: 0 20px;
  }

  /* Home Page */
  /* Hero Section */
  .rise-hero-section {
    background-image: url("../images/hero-section-bg.png");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: top center;
    height: 600px;
    display: flex;
    justify-content: center;
    align-items: flex-end;
    padding-bottom: 30px;
  }
  .rise-hero-section .container {
    padding: 0;
  }
  .rise-hero-section .hero-section-area {
    margin-left: 0;
  }
  .rise-hero-section .hero-section-area .rise-hero-content {
    width: 100%;
    height: 100%;
    padding: 50px 30px 60px;
  }
  .rise-hero-section .hero-section-area .rise-hero-content h1.heading-one {
    font-size: 46px;
    line-height: 56px;
  }
  .rise-hero-section .hero-section-area .rise-hero-content p {
    margin: 15px 0 26px;
  }

  /* Get Inspired Section start */
  .rise-get-inspired-section {
    padding: 60px 0;
  }
  .rise-get-inspired-section .rise-get-inspired-columns {
    padding-top: 40px;
    grid-template-columns: repeat(1, 1fr);
    row-gap: 30px;
  }
  .rise-get-inspired-section
    .rise-get-inspired-column
    .rise-get-inspired-content {
    padding: 24px 20px 0;
  }
}

/* Tablets (Min-width 768px and Max-width 1023px) */
@media only screen and (min-width: 768px) and (max-width: 1024px) {
  /* ===============================
            Utility Classes
    ================================== */
  .container {
    max-width: 100%;
    padding: 0 20px;
  }

  /* Home Page */
  /* Hero Section */
  .rise-hero-section .hero-section-area {
    margin-left: 0;
  }
  .rise-hero-section .hero-section-area .rise-hero-content h1.heading-one {
    font-size: 74px;
    line-height: 70px;
  }

  /* Get Inspired Section start */
  .rise-get-inspired-section {
    padding: 80px 0;
  }
  .rise-get-inspired-section .rise-get-inspired-columns {
    padding-top: 50px;
    grid-template-columns: repeat(2, 1fr);
    row-gap: 30px;
  }
  .rise-get-inspired-section
    .rise-get-inspired-column
    .rise-get-inspired-content {
    padding: 24px 20px 0;
  }
}

/* Laptops (Min-width 1024px and Max-width 1366px) */
@media only screen and (min-width: 1025px) and (max-width: 1366px) {
  /* ===============================
            Utility Classes
    ================================== */
  .container {
    max-width: 100%;
    padding: 0 20px;
  }

  /* Home Page */
  /* Hero Section */
  .rise-hero-section .hero-section-area {
    margin-left: 200px;
  }
}
