.rise-shop-hero-section {
    background-image: url('../images/rise-shop-page-hero-section.png');
    background-position: top center;
    background-size: cover;
    background-repeat: no-repeat;
    padding: 120px;
    position: relative;
}

.rise-shop-hero-section::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0,0,0,0.5);
    pointer-events: none;
    z-index: 0;
}

.rise-shop-hero-section h1 {
    color: #fff;
    position: relative; 
    z-index:1;
    letter-spacing: 0.75px;
}
