main.rise-single-product-page-main {
  border-top: 1px solid #e9e9e9;
}

.rise-single-shop-header {
  padding: 21px 0;
}
.rise-single-product-area.flex {
  justify-content: space-between;
  align-items: center;
}

.rise-single-product-area .rise-single-product-breadcrumb ul {
  display: flex;
  gap: 20px;
}
.rise-single-product-area
  .rise-single-product-breadcrumb
  ul
  li:not(:first-child) {
  list-style: square;
  margin-left: 15px;
  color: #a4abc1;
}
.rise-single-product-area .rise-single-product-breadcrumb ul li a {
  color: #a4abc1;
  font-family: "HelveticaNeueMedium", sans-serif;
  font-size: 16px;
}
.rise-single-product-area .rise-single-product a {
  color: #404554 !important;
}
.rise-single-product-area .rise-single-product-back-home.flex {
  align-items: center;
  gap: 14px;
}
.rise-single-product-area .rise-single-product-back-home a {
  color: #a4abc1;
  font-size: 16px;
}

.rise-single-product-all-images {
  grid-template-columns: 80px 1fr;
  gap: 28px;
}

.rise-single-product-thumbs-share {
  flex-direction: column;
  justify-content: space-between;
}
.rise-single-product-preview-image {
  width: 514px;
  height: auto;
}
.rise-single-product-preview-image img {
  width: 100%;
}

.rise-single-product-thumbs {
  display: flex;
  flex-direction: column;
  gap: 20px;
}
.rise-single-product-preview-area {
  border: 1px solid #eee;
  position: relative;
}
.rise-single-product-preview-area .rise-singe-product-arrows {
  justify-content: space-between;
  align-items: center;
}
.rise-single-product-preview-area
  .rise-singe-product-arrows
  #rise-single-product-prev-arrow {
  position: absolute;
  top: 50%;
  bottom: 50%;
  left: 20px;
  transform: translate(-50%, -50%);
  cursor: pointer;
}
.rise-single-product-preview-area
  .rise-singe-product-arrows
  #rise-single-product-next-arrow {
  position: absolute;
  top: 50%;
  bottom: 50%;
  right: 20px;
  transform: translate(-50%, -50%);
  cursor: pointer;
}
.rise-single-product-thumbs .slick-slide.slick-current {
  border: 1px solid red;
}
.rise-single-product-thumbs .slick-slide {
  margin-top: 5px;
}

.rise-single-product-main-section {
  padding: 43px 0 120px;
}

.rise-single-product-content .heading-two {
  font-family: "HelveticaNeueBold";
  font-size: 40px;
  line-height: 40px;
}

.rise-single-product-sku-category {
  display: grid;
  grid-template-columns: 1fr 1fr;
  align-items: center;
  border-top: 1px solid #a4abc1;
  border-bottom: 1px solid #a4abc1;
  color: #8c91a6;
  margin: 40px 0 32px;
}

.rise-single-product-sku {
  margin-right: 10px;
  border-right: 1px solid #a4abc1;
  padding: 12px 0;
}

.rise-single-product-collection a {
  color: #831619;
  font-family: "HelveticaNeueBold";
}
.rise-single-product-sku span {
  font-family: "HelveticaNeueBold";
}

.rise-single-product-content-area h3.heading-four {
  margin: 17px 0;
}

.rise-single-product-content-area ul li {
  list-style: disc;
  margin-left: 25px;
}

.rise-single-product-select select,
.rise-single-product-quantity select,
.rise-single-product-size select {
  font-family: "HelveticaNeueMedium";
  padding: 12px 20px;
  font-size: 18px;
  line-height: 28px;
  color: #181726;
  border: 1px solid #a4abc1;
  margin-top: 5px;
  width: 100%;
}
.rise-single-product-size-quantity {
  grid-template-columns: 1fr 1fr;
  gap: 20px;
  margin: 20px 0 60px;
}

.rise-single-product-select {
  margin-top: 40px;
}
.rise-product-price-add-to-cart {
  justify-content: space-between;
  align-items: center;
}

.rise-product-price-add-to-cart p {
  color: #831619;
}
