/* ===============================
        Font Family
================================== */
@font-face {
  font-family: "Knockout";
  src: url("/assets/fonts/Knockout-HTF49-Liteweight.woff2") format("woff2"),
       url("/assets/fonts/Knockout-HTF49-Liteweight.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "HelveticaNeueLight";
  src: url("/assets/fonts/HelveticaNeueLight.woff2") format("woff2"),
       url("/assets/fonts/HelveticaNeueLight.woff") format("woff");
  font-weight: 300;
  font-style: normal;
}
@font-face {
  font-family: "HelveticaNeueMedium";
  src: url("/assets/fonts/HelveticaNeueMedium.woff2") format("woff2"),
       url("/assets/fonts/HelveticaNeueMedium.woff") format("woff");
  font-weight: 500;
  font-style: normal;
}
@font-face {
  font-family: "HelveticaNeueBold";
  src: url("/assets/fonts/HelveticaNeueBold.woff2") format("woff2"),
       url("/assets/fonts/HelveticaNeueBold.woff") format("woff");
  font-weight: 700;
  font-style: normal;
}


/* ===============================
            Global Variable
================================== */
:root {
  /* Colors */
  --color-primary: #831619;
  --color-secondary: #181726;
  --color-accent: #831619;
  --color-dark: #424243;
  --color-light: #f6f6f6;
  --color-white: #ffffff;
  --color-gray: #67708d;
  --color-black: #000000;

  /* Font Family */
  --font-knockout: "Knockout", "sans-serif";
  --font-helvetica-neue-light: "HelveticaNeueLight", "sans-serif";
  --font-helvetica-neue-medium: "HelveticaNeueMedium", "sans-serif";
  --font-helvetica-neue-bold: "HelveticaNeueBold", "sans-serif";
}

/* ===============================
            Common CSS
================================== */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

*::before,
*::after {
  box-sizing: border-box;
}

body {
  font-family: "HelveticaNeueLight", "sans-serif";
  line-height: 26px;
  font-size: 18px;
  background-color: var(--color-white);
  margin: 0;
  padding: 0;
  letter-spacing: 1px;
}

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  vertical-align: baseline;
}

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}

ol,
ul {
  list-style: none;
}

blockquote,
q {
  quotes: none;
}

blockquote::before,
blockquote::after,
q::before,
q::after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

a {
  text-decoration: none;
}

button,
input,
textarea {
  border: none;
  background: none;
  outline: none;
}

/* ===============================
        Utility Classes
================================== */
.container {
  max-width: 1270px;
  margin: 0 auto;
}

.flex {
  display: flex;
}

.grid {
  display: grid;
}

.text-center {
  text-align: center;
}

.text-uppercase {
  text-transform: uppercase;
}

.heading-one {
  font-family: var(--font-knockout);
  font-size: 100px;
  line-height: 80px;
  letter-spacing: 1.25px;
}

.heading-two {
  font-family: var(--font-knockout);
  font-size: 50px;
  line-height: 50px;
}

.heading-three {
  font-family: var(--font-knockout);
  font-size: 35px;
  line-height: 40px;
}

.heading-four {
  font-family: var(--font-helvetica-neue-bold);
  font-size: 18px;
  line-height: 24px;
}

.rise-btn {
  font-family: var(--font-helvetica-neue-medium);
  font-size: 16px;
  font-weight: 24px;
  text-transform: uppercase;
  padding: 15px 30px;
  transition: all 0.3s ease-in;
  border-width: 2px;
  border-style: solid;
  cursor: pointer;
}

.rise-btn-solid {
  background-color: var(--color-accent);
  color: var(--color-white);
  border-color: var(--color-accent);
}

.rise-btn-solid:hover {
  background-color: var(--color-white);
  color: var(--color-accent);
  border-color: var(--color-accent);
}

.rise-btn-outline {
  color: var(--color-accent);
  background-color: var(--color-white);
  border-color: var(--color-accent);
}
.rise-btn-outline:hover {
  background-color: var(--color-accent);
  color: var(--color-white);
  border-color: var(--color-accent);
}

/* Footer Section */
.rise-footer-section{
  background-color: #424243;
  padding: 83px 0 120px;
  background: url('../images/rise-footer-left-image.png') left center no-repeat, 
              url('../images/footer-right-half.png') right center no-repeat;
  background-size: 50% 100%;
}

.rise-footer-section .rise-footer-main-area{
  grid-template-columns: 1fr 300px;
}
.rise-footer-section .rise-footer-content{
  gap: 120px;
}
.rise-footer-section .rise-footer-content .rise-footer-quick-links ul li a{
  margin: 33px 0;
  color: var(--color-light);
  font-size: 18px;
  line-height: 23px;
  font-family: var(--font-helvetica-neue-bold);
}
.rise-footer-section .rise-footer-content .rise-footer-quick-links ul li:not(:first-child){
  margin: 33px 0;
}

.rise-footer-section .rise-footer-content .rise-footer-social-icons ul li:not(:first-child){
  margin: 33px 0;
}
.rise-footer-section .rise-footer-content .rise-footer-social-icons ul li:first-child a img{
  width: 15px;
}
.rise-footer-section .rise-footer-content .rise-footer-social-icons ul li:not(:first-child) a img{
  width: 25px !important;
}
.rise-footer-section .rise-footer-content .rise-footer-newsletter{
  background-color: var(--color-primary);
  padding: 40px;
  color: var(--color-white);
}
.rise-footer-section .rise-footer-content .rise-footer-newsletter form{
  padding: 28px 0;
}
.rise-footer-section .rise-footer-content .rise-footer-newsletter p{
  font-size: 14px;
  line-height: 20px;
}
.rise-footer-section .rise-footer-newsletter #newsletter-email{
  width: 277px;
  padding: 10px 17px;
  border-radius: 3px 0px 0px 3px;
  background-color: var(--color-white);
  font-family: var(--font-helvetica-neue-medium);
  font-size: 16px;
  line-height: 25px;
  margin-right: -7px;
  border: 1px solid var(--color-white);
}
.rise-footer-section .rise-footer-newsletter .rise-footer-submit-btn{
  padding: 13px 18px;
  background-color: #424243;
  color: var(--color-white);
  border-color: #424243;
  border-radius: 0px 3px 3px 0px;
}

/* Home Page */

/* Hero Section */
.rise-hero-section{
  background-image: url('../images/hero-section-bg.png');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: 0 0;
}
.rise-hero-section .container{
  max-width: 1330px;
  margin: 0 auto;
}
.rise-hero-section .hero-section-area .rise-hero-content {
  width: 451px;
  height: 100%;
  background: linear-gradient(to bottom, #000000 0%, rgba(0, 0, 0, 0) 100%), url('../images/hero-section-content-bg.png');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  padding: 110px 40px 120px;
}

.rise-hero-section .hero-section-area .rise-hero-content h1{
  color: var(--color-white);
}
.rise-hero-section .hero-section-area .rise-hero-content button{
  cursor: pointer;
}
.rise-hero-section .hero-section-area .rise-hero-content p{
  margin: 18px 0 46px;
  color: var(--color-white);
}

/* Get Inspired Section start */
.rise-get-inspired-section{
  padding: 100px 0;
}
.rise-get-inspired-section .container{
  max-width: 1440px;
}
.rise-get-inspired-section .rise-get-inspired-columns{
  grid-template-columns: repeat(4, 1fr);
  padding-top: 70px;
}
.rise-get-inspired-section .rise-get-inspired-column .rise-get-inspired-model{
  position: relative;
}
.rise-get-inspired-section .rise-get-inspired-column .rise-get-inspired-model .rise-get-inspired-overlay-logo{
  position: absolute;
  bottom: 30px;
  left: 50%;
  transform: translate(-50%, -50%);
}
.rise-get-inspired-section .rise-get-inspired-column .rise-get-inspired-model-avatar{
  position: relative;
}
.rise-get-inspired-section .rise-get-inspired-column .rise-get-inspired-model-avatar img{
  width: 100%;
}
.rise-get-inspired-section .rise-get-inspired-column .rise-get-inspired-model-avatar::after{
  position: absolute;
  content: '';
  top: 0;
  left: 0;
  background: linear-gradient(to bottom, rgba(0,0,0,0) 50%, #000000 100%);
  width: 100%;
  height: 100%;
}
.rise-get-inspired-section .rise-get-inspired-column .rise-get-inspired-content{
  padding: 34px 35px 0;
}
.rise-get-inspired-section .rise-get-inspired-column .rise-get-inspired-content p{
  font-size: 16px;
  line-height: 24px;
  margin-top: 9px;
}

/* Clear Path Legacy Section */
.rise-clear-path-legacy-section{
  padding: 10px 0 120px;
  color: var(--color-white);
}

.rise-clear-path-legacy-section .container{
  max-width: 1330px;
  background-color: #424243;
}
.rise-clear-path-legacy-section .rise-clear-path-legacy-main-area{
  grid-template-columns: 750px 1fr;
}
.rise-clear-path-legacy-section .rise-clear-path-legacy-content{
  padding: 100px 0px 100px 80px;
  position: relative;
}
.rise-clear-path-legacy-section .rise-clear-path-legacy-content{
  padding: 100px 0px 100px 80px;
  position: relative;
}

.rise-clear-path-legacy-section .rise-clear-path-legacy-content p{
  padding: 34px 0;
}
.rise-clear-path-legacy-section .rise-clear-path-legacy-image img{
  width: 100%;
}