/* ===============================
        Font Family
================================== */
@font-face {
  font-family: "Knockout";
  src: url("../fonts/Knockout-HTF49-Liteweight-Regular.ttf") format("ttf"),
    url("../fonts/Knockout-HTF49-Liteweight.woff2") format("woff2"),
    url("../fonts/Knockout-HTF49-Liteweight.woff") format("woff");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "HelveticaNeueLight";
  src: url("../fonts/HelveticaNeueLight.ttf") format("ttf"),
    url("../fonts/HelveticaNeueLight.woff2") format("woff2"),
    url("../fonts/HelveticaNeueLight.woff") format("woff");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "HelveticaNeueMedium";
  src: url("../fonts/HelveticaNeueMedium.ttf") format("ttf"),
    url("../fonts/HelveticaNeueMedium.woff2") format("woff2"),
    url("../fonts/HelveticaNeueMedium.woff") format("woff");
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: "HelveticaNeueBold";
  src: url("../fonts/HelveticaNeueBold.ttf") format("ttf"),
    url("../fonts/HelveticaNeueBold.woff2") format("woff2"),
    url("../fonts/HelveticaNeueBold.woff") format("woff");
  font-weight: 700;
  font-style: normal;
}

/* ===============================
            Global Variable
================================== */
:root {
  /* Colors */
  --color-primary: #831619;
  --color-secondary: #181726;
  --color-accent: #831619;
  --color-dark: #424243;
  --color-light: #f6f6f6;
  --color-white: #ffffff;
  --color-gray: #67708d;
  --color-black: #000000;

  /* Font Family */
  --font-knockout: "Knockout", "sans-serif";
  --font-helvetica-neue-light: "HelveticaNeueLight", "sans-serif";
  --font-helvetica-neue-medium: "HelveticaNeueMedium", "sans-serif";
  --font-helvetica-neue-bold: "HelveticaNeueBold", "sans-serif";
}

/* ===============================
            Common CSS
================================== */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

*::before,
*::after {
  box-sizing: border-box;
}

body {
  font-family: "HelveticaNeueLight", "sans-serif";
  line-height: 26px;
  font-size: 18px;
  background-color: var(--color-white);
  margin: 0;
  padding: 0;
  letter-spacing: 1px;
}

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  vertical-align: baseline;
}

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}

ol,
ul {
  list-style: none;
}

blockquote,
q {
  quotes: none;
}

blockquote::before,
blockquote::after,
q::before,
q::after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

a {
  text-decoration: none;
}

button,
input,
textarea {
  border: none;
  background: none;
  outline: none;
}

/* ===============================
        Utility Classes
================================== */
.container {
  max-width: 1270px;
  margin: 0 auto;
}

.flex {
  display: flex;
}

.grid {
  display: grid;
}

.text-center {
  text-align: center;
}

.text-uppercase {
  text-transform: uppercase;
}

.heading-one {
  font-family: var(--font-knockout);
  font-size: 100px;
  line-height: 80px;
  letter-spacing: 1.25px;
}

.heading-two {
  font-family: var(--font-knockout);
  font-size: 50px;
  line-height: 50px;
}

.heading-three {
  font-family: var(--font-knockout);
  font-size: 35px;
  line-height: 40px;
}

.heading-four {
  font-family: var(--font-helvetica-neue-bold);
  font-size: 18px;
  line-height: 24px;
}

.rise-btn {
  font-family: var(--font-helvetica-neue-medium);
  font-size: 16px;
  font-weight: 24px;
  text-transform: uppercase;
  padding: 15px 30px;
  transition: all 0.3s ease-in;
  border-width: 2px;
  border-style: solid;
  cursor: pointer;
}

.rise-btn-solid {
  background-color: var(--color-accent);
  color: var(--color-white);
  border-color: var(--color-accent);
}

.rise-btn-solid:hover {
  background-color: var(--color-white);
  color: var(--color-accent);
  border-color: var(--color-accent);
}

.rise-btn-outline {
  color: var(--color-accent);
  background-color: var(--color-white);
  border-color: var(--color-accent);
}
.rise-btn-outline:hover {
  background-color: var(--color-accent);
  color: var(--color-white);
  border-color: var(--color-accent);
}
.rise-body-background {
  background-color: #f6f6f6;
}

/* Header section */
.rise-top-header-section {
  background: #000000;
  color: #fff;
  padding: 12px 0 11px;
}

.rise-top-header-section .container {
  max-width: 1400px;
}

.rise-top-header-section .rise-top-header-area {
  justify-content: space-between;
  align-items: center;
}

.rise-top-header-section .rise-top-header-announcement p {
  font-size: 14px;
  text-align: center;
  line-height: 25px;
  color: #ffff;
}

.rise-top-header-section .rise-top-header-menu-items ul {
  justify-content: flex-end;
}

.rise-top-header-section .rise-top-header-menu-items ul li a {
  color: #fff;
  font-size: 14px;
  line-height: 25px;
}

.rise-top-header-section .rise-top-header-menu-items ul li:not(:last-child) a {
  border-right: 1px solid #595959;
  padding-right: 10px;
  margin-right: 10px;
}
.rise-top-header-section .rise-top-header-social-icons ul {
  gap: 22px;
}
.rise-main-header-section {
  background: #fff;
  padding: 22px 0;
}

.rise-main-header-section .container {
  max-width: 1400px;
}

.rise-main-header-section .rise-header-main-area {
  justify-content: space-between;
  align-items: center;
}

.rise-main-header-section .rise-main-header-logo-menu-area {
  gap: 72px;
  align-items: center;
}

.rise-main-header-section .rise-main-header-menu-items ul {
  gap: 52px;
}

.rise-main-header-section
  .rise-main-header-menu-items
  ul
  .rise-main-header-dropdown {
  display: none;
}
.rise-main-header-section .rise-main-header-icons {
  gap: 36px;
  align-items: center;
  position: relative;
}
.rise-main-header-section .rise-main-header-cart {
  position: relative;
  cursor: pointer;
}
.rise-main-header-section .rise-main-header-cart .rise-cart-items-count {
  position: absolute;
  top: 0;
  right: 0;
  background: var(--color-primary);
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  border: 1.5px solid #fff;
  width: 20px;
  height: 20px;
  font-size: 11px;
  color: var(--color-white);
  font-weight: 700;
}
.rise-main-header-section .rise-main-header-hamburger svg {
  margin-bottom: -10px;
}
.rise-main-header-section .rise-main-header-menu-items .flex {
  list-style: none;
  margin: 0;
  padding: 0;
}

.rise-main-header-section .rise-main-header-menu-items .flex > li {
  position: relative;
  margin-right: 20px;
}

.rise-main-header-section .rise-main-header-menu-items .flex > li > a {
  text-decoration: none;
  color: #181726;
  padding: 10px 0px;
  display: inline-flex;
  align-items: center;
  font-family: var(--font-knockout);
  font-size: 18px;
  letter-spacing: 0.5px;
}

.rise-main-header-section .rise-main-header-menu-items .dropdown .icon {
  margin-left: 5px;
  display: inline-flex;
  align-items: center;
  justify-content: center;
}

.rise-main-header-section .rise-main-header-menu-items .icon svg {
  width: 12px;
  height: 12px;
  fill: #333;
  transition: transform 0.3s ease;
}

.rise-main-header-section
  .rise-main-header-menu-items
  .dropdown:hover
  .icon
  svg {
  transform: rotate(180deg);
}

.rise-main-header-section
  .rise-main-header-menu-items
  .rise-main-header-dropdown {
  display: none;
  position: absolute;
  top: 100%;
  left: 0;
  background: #fff;
  list-style: none;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  margin: 0;
  padding: 10px 0;
  z-index: 1000;
  min-width: 150px;
}

.rise-main-header-section
  .rise-main-header-menu-items
  .rise-main-header-dropdown
  li {
  margin: 0;
}

.rise-main-header-section
  .rise-main-header-menu-items
  .rise-main-header-dropdown
  li
  a {
  text-decoration: none;
  color: #181726;
  padding: 8px 15px;
  display: block;
  font-family: var(--font-knockout);
  font-size: 18px;
  letter-spacing: 0.5px;
}

.rise-main-header-section
  .rise-main-header-menu-items
  .rise-main-header-dropdown
  li
  a:hover {
  background-color: #f2f2f2;
}

.rise-main-header-section
  .rise-main-header-menu-items
  .dropdown:hover
  .rise-main-header-dropdown {
  display: block;
}
.rise-mobile-menu .rise-mobile-menu-search{
  margin-top: 20px;
}
.rise-mobile-menu .rise-mobile-menu-search #rise-mobile-menu-search {
  padding: 10px 17px;
  width: 170px;
  border-radius: 3px 0px 0px 3px;
  background-color: #F1F2F3;
  font-family: var(--font-helvetica-neue-medium);
  font-size: 16px;
  line-height: 25px;
  margin-right: -7px;

}
.rise-mobile-menu .rise-mobile-menu-search form{
  display: flex;

}
.rise-mobile-menu .rise-mobile-menu-search form .rise-btn{
  padding: 10px 15px;
  border: none;
  background-color: var(--color-black);
  color: var(--color-white);
}
/* Cart Section */
.rise-cart-pos {
  position: absolute;
  top: 60px;
  left: -156px;
  display: none;
  opacity: 0;
  transform: translateY(-20px);
  transition: opacity 0.3s ease, transform 0.3s ease;
}

.rise-cart-pos.active {
  display: block;
  opacity: 1;
  transform: translateY(0);
}

.rise-cart-pos.fade-out {
  opacity: 0;
  transform: translateY(-20px);
  transition: opacity 0.3s ease, transform 0.3s ease;
}

.rise-cart-pos .container {
  width: 356px;
  background: #fff;
  border: 1px solid #e9e9e9;
}

.rise-cart-head {
  justify-content: space-between;
  align-items: center;
  position: relative;
  background: #f0f0f0;
  padding: 22px 20px;
}

.rise-cart-indicator {
  position: absolute;
  top: -10px;
  right: 20px;
  width: 45px;
  height: 45px;
  background: #f0f0f0;
  transform: rotate(45deg);
  z-index: 0;
}

.rise-cart-close-icon {
  z-index: 1;
  cursor: pointer;
}

.rise-cart-footer {
  padding: 15px 15px 25px;
  background: #f0f0f0;
}

.rise-cart-footer-buttons {
  justify-content: space-between;
  align-items: center;
  gap: 12px;
  margin-bottom: 20px;
}

.rise-cart-footer p {
  font-size: 14px;
  line-height: 20px;
  color: #181726;
}
.rise-cart-total-amount {
  justify-content: space-between;
  padding: 15px 19px;
  background: #fafafa;
}

.rise-cart-total-amount span {
  font-size: 14px;
  line-height: 20px;
}
.rise-cart-body {
  max-height: 300px;
  overflow-y: auto;
  scrollbar-width: thin; 
}

.rise-cart-body::-webkit-scrollbar {
  width: 6px;
}

.rise-cart-body::-webkit-scrollbar-thumb {
  background: #ccc;
  border-radius: 4px;
}
.rise-cart-body .rise-cart-item {
  grid-template-columns: 86px 1fr;
  gap: 20px;
  font-size: 14px;
  padding: 14px 15px;
}

.rise-cart-item-img img {
  width: 86px;
  height: 100px;
}

#rise-cart-item-price,
#rise-product-name {
  font-size: 14px;
  line-height: 20px;
  font-family: var(--font-helvetica-neue-bold);
}
#rise-cart-item-price {
  color: #831619;
}

#rise-product-name {
  color: #181726;
}
.rise-cart-item-size-quantity {
  justify-content: space-between;
  align-items: center;
}
.rise-cart-item-remove {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  margin-top: 7px;
}

#rise-cart-product-color {
  margin: -3px 0;
}
.rise-cart-head h5 {
  font-size: 17px;
  line-height: 17px;
  color: #181726;
  font-family: var(--font-helvetica-neue-bold);
}

.rise-cart-head h5 span {
  font-size: 14px;
  line-height: 14px;
  font-family: var(--font-helvetica-neue-light);
}

.rise-mobile-menu {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 9999;
  display: flex;
  justify-content: flex-end;
  transform: translateX(100%);
  transition: transform 0.3s ease;
}

.rise-mobile-menu-area {
  width: 300px;
  height: 100%;
  background-color: #fff;
  box-shadow: -5px 0 15px rgba(0, 0, 0, 0.2);
  padding: 20px;
  overflow-y: auto;
}

.rise-mobile-menu.active {
  transform: translateX(0);
}

.rise-main-header-hamburger {
  cursor: pointer;
  display: none;
}

.rise-mobile-menu-logo-icon {
  justify-content: space-between;
  gap: 20px;
}
.rise-mobile-logo {
  width: 120px;
}
.rise-mobile-menu-close-icon{
  cursor: pointer;
}

.rise-mobile-menu-items nav ul {
  list-style: none;
  padding: 0;
  margin-top: 20px;
}


.rise-mobile-menu-items nav ul li {
  position: relative;
  margin-bottom: 20px;
  font-family: var(--font-knockout);
}
.rise-mobile-menu-items nav ul li a{
  color: var(--color-black);
}
.rise-main-header-dropdown {
  display: none;
  background-color: #fff;
  list-style: none;
  position: relative;
  padding: 10px;
  margin: 0;
  margin-left: 20px;
}

.rise-main-header-dropdown.active {
  display: block;
}

.dropdown .icon svg {
  transition: transform 0.3s ease;
}

.dropdown .icon.rotate svg {
  transform: rotate(180deg);
}


/* Footer Section */
.rise-footer-section {
  background-color: #424243;
  padding: 83px 0 120px;
  background: url("../images/rise-footer-left-image.png") left center no-repeat,
    url("../images/footer-right-half.png") right center no-repeat;
  background-size: 50% 100%;
}

.rise-footer-section .rise-footer-main-area {
  grid-template-columns: 1fr 300px;
}
.rise-footer-section .rise-footer-content {
  gap: 120px;
}
.rise-footer-section .rise-footer-content .rise-footer-quick-links ul li a {
  margin: 33px 0;
  color: var(--color-light);
  font-size: 18px;
  line-height: 23px;
  font-family: var(--font-helvetica-neue-bold);
}
.rise-footer-section
  .rise-footer-content
  .rise-footer-quick-links
  ul
  li:not(:first-child) {
  margin: 33px 0;
}

.rise-footer-section
  .rise-footer-content
  .rise-footer-social-icons
  ul
  li:not(:first-child) {
  margin: 33px 0;
}
.rise-footer-section
  .rise-footer-content
  .rise-footer-social-icons
  ul
  li:first-child
  a
  img {
  width: 15px;
}
.rise-footer-section
  .rise-footer-content
  .rise-footer-social-icons
  ul
  li:not(:first-child)
  a
  img {
  width: 25px !important;
}
.rise-footer-section .rise-footer-content .rise-footer-newsletter {
  background-color: var(--color-primary);
  padding: 40px;
  color: var(--color-white);
}
.rise-footer-section .rise-footer-content .rise-footer-newsletter form {
  padding: 28px 0;
}
.rise-footer-section .rise-footer-content .rise-footer-newsletter p {
  font-size: 14px;
  line-height: 20px;
}
.rise-footer-section .rise-footer-newsletter #newsletter-email {
  width: 277px;
  padding: 10px 17px;
  border-radius: 3px 0px 0px 3px;
  background-color: var(--color-white);
  font-family: var(--font-helvetica-neue-medium);
  font-size: 16px;
  line-height: 25px;
  margin-right: -7px;
  border: 1px solid var(--color-white);
}
.rise-footer-section .rise-footer-newsletter .rise-footer-submit-btn {
  padding: 13px 18px;
  background-color: #424243;
  color: var(--color-white);
  border-color: #424243;
  border-radius: 0px 3px 3px 0px;
}
.rise-footer-bottom-section {
  background-color: var(--color-black);
  padding: 54px 20px;
}
.rise-footer-bottom-section .container {
  max-width: 1400px;
}
.rise-footer-bottom-section .rise-bottom-footer-content.flex {
  justify-content: space-between;
  align-items: center;
  color: #6e6e6e;
}
.rise-footer-bottom-section .rise-footer-bottom-left ul {
  display: flex;
  gap: 10px;
  font-size: 14px;
  line-height: 20px;
}
.rise-footer-bottom-section
  .rise-footer-bottom-left
  .rise-footer-bottom-right-border {
  border-right: 1px solid #6e6e6e;
  padding-right: 10px;
}
.rise-footer-bottom-section .rise-footer-bottom-left ul li a {
  color: #6e6e6e;
}
.rise-footer-bottom-section .rise-footer-bottom-right ul {
  display: flex;
  font-size: 14px;
  line-height: 20px;
  gap: 10px;
}
.rise-footer-bottom-section
  .rise-footer-bottom-right
  .rise-footer-bottom-right-border {
  border-right: 1px solid #6e6e6e;
  padding-right: 10px;
}
.rise-footer-bottom-section .rise-footer-bottom-right ul li a {
  color: var(--color-white);
}

/* Home Page */

/* Hero Section */
.rise-hero-section {
  background-image: url("../images/hero-section-bg.png");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: 0 0;
}
.rise-hero-section .container {
  max-width: 1330px;
  margin: 0 auto;
}
.rise-hero-section .hero-section-area .rise-hero-content {
  width: 451px;
  height: 100%;
  background: linear-gradient(to bottom, #000000 0%, rgba(0, 0, 0, 0) 100%),
    url("../images/hero-section-content-bg.png");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  padding: 110px 40px 120px;
}

.rise-hero-section .hero-section-area .rise-hero-content h1 {
  color: var(--color-white);
}
.rise-hero-section .hero-section-area .rise-hero-content button {
  cursor: pointer;
}
.rise-hero-section .hero-section-area .rise-hero-content p {
  margin: 18px 0 46px;
  color: var(--color-white);
}

/* Most Popular section start */
.rise-most-popular-section {
  padding: 91px 0 30px;
}

.rise-most-popular-section .rise-most-popular-head {
  justify-content: space-between;
  align-items: center;
  margin: 0 20px;
}

.rise-most-popular-section .rise-most-popular-heading {
  align-items: center;
  gap: 18px;
}

.rise-most-popular-section .rise-most-popular-heading img {
  width: 34px;
}

.rise-most-popular-section .rise-most-popular-arrow-icons {
  gap: 20px;
  margin-bottom: -10px;
}
.rise-most-popular-section .slick-arrow {
  border: 1px solid #979797;
  display: flex;
  padding: 6px 11px;
  cursor: pointer;
  transition: all 0.3s ease-in;
}
.rise-most-popular-section .slick-arrow path {
  transition: all 0.3s ease-in;
}
.rise-most-popular-section .slick-arrow:hover path {
  fill: var(--color-primary);
}
.rise-most-popular-section .slick-arrow:hover {
  border-color: var(--color-primary);
}
.rise-most-popular-section .rise-most-popular-product-container {
  padding-top: 60px;
}
.rise-most-popular-section
  .rise-most-popular-product-container
  .rise-most-single-product {
  margin: 0 20px;
}
.rise-most-popular-section
  .rise-most-single-product
  .rise-most-popular-product-model {
  transition: all 0.3s ease-in-out;
  cursor: pointer;
}
.rise-most-popular-section
  .rise-most-single-product
  .rise-most-popular-product-model
  img {
  width: 100%;
}
.rise-most-popular-section
  .rise-most-single-product:hover
  .rise-most-popular-product-model {
  transform: translateY(-10px);
  box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.2);
}
.rise-most-popular-section
  .rise-most-single-product
  .rise-most-popular-product-content
  h3 {
  font-family: "HelveticaNeueBold", sans-serif;
  font-size: 17px;
  line-height: 24px;
  color: #181726;
}
.rise-most-popular-section
  .rise-most-single-product
  .rise-most-popular-product-content {
  padding-top: 11px;
}

.rise-most-popular-section
  .rise-most-single-product
  .rise-most-popular-product-content
  .rise-most-popular-product-price {
  color: #181726;
}
/* Get Inspired Section start */
.rise-get-inspired-section {
  padding: 100px 0;
}
.rise-get-inspired-section .container {
  max-width: 1440px;
}
.rise-get-inspired-section .rise-get-inspired-columns {
  grid-template-columns: repeat(4, 1fr);
  padding-top: 70px;
}
.rise-get-inspired-section .rise-get-inspired-column .rise-get-inspired-model {
  position: relative;
}
.rise-get-inspired-section
  .rise-get-inspired-column
  .rise-get-inspired-model
  .rise-get-inspired-overlay-logo {
  position: absolute;
  bottom: 30px;
  left: 50%;
  transform: translate(-50%, -50%);
}
.rise-get-inspired-section
  .rise-get-inspired-column
  .rise-get-inspired-model-avatar {
  position: relative;
}
.rise-get-inspired-section
  .rise-get-inspired-column
  .rise-get-inspired-model-avatar
  img {
  width: 100%;
}
.rise-get-inspired-section
  .rise-get-inspired-column
  .rise-get-inspired-model-avatar::after {
  position: absolute;
  content: "";
  top: 0;
  left: 0;
  background: linear-gradient(to bottom, rgba(0, 0, 0, 0) 50%, #000000 100%);
  width: 100%;
  height: 100%;
}
.rise-get-inspired-section
  .rise-get-inspired-column
  .rise-get-inspired-content {
  padding: 34px 35px 0;
}
.rise-get-inspired-section
  .rise-get-inspired-column
  .rise-get-inspired-content
  p {
  font-size: 16px;
  line-height: 24px;
  margin-top: 9px;
}

/* Clear Path Legacy Section */
.rise-clear-path-legacy-section {
  padding: 10px 0 120px;
  color: var(--color-white);
}

.rise-clear-path-legacy-section .container {
  max-width: 1330px;
  background-color: #424243;
}
.rise-clear-path-legacy-section .rise-clear-path-legacy-main-area {
  grid-template-columns: 750px 1fr;
}
.rise-clear-path-legacy-section .rise-clear-path-legacy-content {
  padding: 100px 0px 100px 80px;
  position: relative;
}
.rise-clear-path-legacy-section .rise-clear-path-legacy-content {
  padding: 100px 0px 100px 80px;
  position: relative;
}

.rise-clear-path-legacy-section .rise-clear-path-legacy-content p {
  padding: 34px 0;
}
.rise-clear-path-legacy-section .rise-clear-path-legacy-image img {
  width: 100%;
}
.rise-clear-path-legacy-section .rise-clear-path-legacy-image .rise-clear-path-mobile-image {
  display: none;
}
